<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293558096946-13j9akp9in1gqbu8g344a593oar5j4lb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293558096946-13j9akp9in1gqbu8g344a593oar5j4lb</string>
	<key>API_KEY</key>
	<string>AIzaSyADPWennj-14a_TAXwwxBB-_cpMBMlZWKs</string>
	<key>GCM_SENDER_ID</key>
	<string>293558096946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.laba8</string>
	<key>PROJECT_ID</key>
	<string>laba8-7d2ac</string>
	<key>STORAGE_BUCKET</key>
	<string>laba8-7d2ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293558096946:ios:3b1ace9d2bc068fb49182b</string>
	<key>DATABASE_URL</key>
	<string>https://laba8-7d2ac-default-rtdb.firebaseio.com</string>
</dict>
</plist>